.hero {
  background: #282323;
  color: white;
  text-align: center;
  padding: 150px 15px;
}
h1,
h2,
p,
.primary-button {
  font-family: "Bebas Neue", sans-serif;
}
h2 {
  font-size: 35px;
  font-weight: 700px;
  line-height: 28px;
}
h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 75px;
}
p {
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
}
.primary-button {
  background: white;
  color: #272142;
  font-size: 14px;
  line-height: 17px;
  border-radius: 4px;
  padding: 12px 20px;
}
.secondary-button {
  border: 1px solid #272142;
  color: #272142;
  font-size: 12px;
  line-height: 17px;
  border-radius: 4px;
  line-height: 27px;
  padding: 12px 20px;
}
@media (max-width: 960px) {
  .project-description {
    padding: 120px 60px;
    text-align: center;
  }
}
